@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

/* General layout for larger screens */
.Logincontainer {
    display: flex;
    width: 100%;
    height: 100vh;
}

.Gettingtitle {
    font-size: 40px;
    margin: 0;
}

.MailSent {
    display: flex;
    justify-content: center;
    background-color: #534FEB;
    padding: 30px 50px;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.MailSent p {
    width: 70%;
    color: #FFFFFF;
}

.MailSent span {
    font-weight: 600;
}

.ResetCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CombineBox {
    padding: 50px;
    background-color: #F5F5F5;
    border-radius: 10px;
    text-align: center;
}




.ResetPasswordMsg {
    flex: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FE796E;
}

.ResetPasswordMsg img {
    max-width: 100%;
    height: auto;
}

/* Responsive styles */
@media (max-width: 768px) {
    .Gettingcontainer {
        flex-direction: column;
        height: auto;
    }

    .Gettingform {
        width: 100%;
        padding: 20px;
        height: auto;
    }

    /* Hide the image on smaller screens */
    .Gettingimagecont {
        display: none;
    }
}

@media (max-width: 480px) {
    form label {
        font-size: 14px;
    }

    form input {
        padding: 8px;
    }

    button {
        padding: 8px;
    }
}