@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

.ResetBtn {
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
    border: none;
    padding: 15px;
    margin-top: 5px;
    color: #FFFFFF;
    background-color: #534FEB;
}


.ResetBtn:hover {
    background-color: #354FEB;
}



/* Responsive styles */
@media (max-width: 768px) {
    .Gettingcontainer {
        flex-direction: column;
        height: auto;
    }

    .Gettingform {
        width: 100%;
        padding: 20px;
        height: auto;
    }

    /* Hide the image on smaller screens */
    .Gettingimagecont {
        display: none;
    }
}

@media (max-width: 480px) {
    form label {
        font-size: 14px;
    }

    form input {
        padding: 8px;
    }

    button {
        padding: 8px;
    }
}