.employees-list {
    margin-top: 2px;
    margin-left: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 20px;
    padding: 10px 0px;
    background-color:rgb(251, 251, 251);
    border-radius: 10px;
   
  }
  
  .profile-card {
    width: 240px;
    height: 280px;
    margin-bottom: 20px;
    font-family: "Nunito", sans-serif;
  }
  