.employee-management {
  margin-left: 300px;
  padding: 5px;
  text-align: left;
  ;
}

.stats-container {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  height: 160px;
  margin-bottom: 10px;
}

.stat-box {
  width: 300px;
  background-color: #f3f4f6;
  padding: 20px;
  margin-right: 15px;
  text-align: left;
  border-radius: 10px;
}

.stat-box img {
  border: 2px solid #D9D9D9;
  border-radius: 5px;
  padding: 5px;
  vertical-align: middle;
}

.stat-box p {
  font-size: 14px;
  text-align: left;
}

.stat-box span {
  color: #B6B6B6;
  font-size: 12px;
  margin-left: 25px;
}

.stat-box .count {
  font-size: 32px;
  margin: 0;
  text-align: left;
  font-weight: 500;
}


.stat-box .highlight {
  margin: 0;
  color: #0F9F6E;
}

.stat-box .Absent {
  margin: 0;
  color: #9F0F0F;
}

.Menu button {
  margin-top: 10px;
  background-color: transparent;
  border: none;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  transition: color 0.4s ease;
  margin-bottom: 10px;
}

.Menu button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #A1A1A1;
}

.Menu button.active {
  color: #534FEB;
}

.Menu button.active::after {
  content: '';
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #534FEB;
}

.Menu button:not(.active):hover {
  color: #777;
}

.Menu button.active img {
  filter: invert(27%) sepia(51%) saturate(5925%) hue-rotate(238deg) brightness(99%) contrast(87%);
}

.Menu button:not(.active):hover img {
  filter: invert(46%) sepia(12%) saturate(3%) hue-rotate(23deg) brightness(99%) contrast(89%);
}

.menu-icon {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 8px;
  transition: filter 0.5s ease;

}


.EmployeeSearch {
  padding: 15px 40px;
  border: 2px solid #B6B6B6;
  border-radius: 8px;
}


.Bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.export-button {
  padding: 8px;
  border: 2px solid #B6B6B6;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin: 10px;
  vertical-align: middle;
  background-color: white;
}

.export {
  padding: 10px;
}

.export-button img {
  margin-left: 10px;
  vertical-align: middle;
  padding: 5px;
}

.filter-button {
  background-color: white;
  padding: 13px;
  border-radius: 10px;
  border: 2px solid #B6B6B6;
  margin-left: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.filter-button img {
  margin-left: 10px;
  vertical-align: middle;
  background-color: white;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-weight: 150;
}

.employee-table th,
.employee-table td {
  padding: 20px;
  text-align: center;
}

.employee-table thead {
  background-color: #F5F5F5;
  font-size: 14px;
  box-shadow: 0 0 5px #B6B6B6;
}

.employee-table tbody {
  font-size: 14px;
  font-weight: 500;
  text-align: center;

}

.employee-table tbody tr {
  border-bottom: 2px solid #B6B6B6;

}

.Type {
  border-radius: 5px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.Type-FullTime {
  background-color: #EEEDFD;
  border: 2px solid #BeBDF8;
  color: #6F6BEF;
}

.Type-PartTime {
  background-color: #E8F0FC;
  border: 2px solid #AAC8F5;
  color: #534FEB;
}

.Status {
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.Status-Present {
  background-color: #EEEDFD;
  border: 2px solid #BeBDF8;
  color: #6F6BEF;
}

.Status-Late {
  background-color: #FBF5E8;
  border: 2px solid #EDD59F;
  color: #D5A127;
}

.Status-Absent {
  background-color: #FDF4F4;
  border: 2px solid #EFA9A9;
  color: #E05B5B;
}

.Profile {
  border: 2px solid #B6B6B6;
  width: 40px;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 50%;
}